body{
    background-color: #2a2c2f;
}

.page{
    min-width: 320px;
    max-width: 1280px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
}

.header{
    margin: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    width: 142px;
    height: 42px;
}

.header__logo img{
    width: 100%;
}

.header__lang-link{
    color: inherit;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    transition: all .3s;
}

.header__lang-link:hover{
    opacity: 0.8;
}

.header__lang-link:first-child{
    margin-right: 18px;
}

.header__lang-link_active{
    position: relative;
}

.header__lang-link_active::after {
    content: "";
    background-color: #fff;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: -1px;
}

@media screen and (min-width: 768px){
    .header{
        margin: 0 24px;
        margin-top: 28px;
    }

    .header__logo{
        width: 176px;
        height: 52px;
    }

    .header__lang-link{
        font-size: 24px;
        line-height: 28px;
    }
}

@media screen and (min-width: 1024px){
    .header{
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (min-width: 1280px){
    .header{
        margin-bottom: 56px;
    }
}

.lead__title{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
}

.lead__subtitle{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin: 16px;
    margin-bottom: 40px;
}

.lead__image-container{
    position: relative;
    display: flex;
    justify-content: center;
}

.lead__image{
    width: 100%;
    height: 100%;
}

.lead__svg-container{
    position: absolute;
    display: flex;
    inset: 0;
}

.lead__svg-way{
    fill: none;
    stroke: white;
    stroke-width: 2px;
    stroke-dasharray: 1390;
}

.lead__svg-city,
.lead__svg-waypoint{
    opacity: 0;
}

.lead__caption{
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-left: 16px;
    margin-top: 8px;
}

@media screen and (min-width: 768px){
    .lead__title{
        font-size: 96px;
        line-height: 100px;
    }

    .lead__subtitle{
        font-size: 30px;
        line-height: 36px;
        margin: 0 64px;
        margin-top: 32px;
        margin-bottom: 56px;
    }

    .lead__caption{
        margin-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title{
        margin-left: 152px;
        margin-right: 152px;
    }

    .lead__subtitle{
        margin-left: 192px;
        margin-right: 192px;
    }
    
    .lead__image-container{
        margin: 0 48px;
    }

    .lead__caption{
        margin-left: 48px;
        margin-top: 8px;
    }
}

@media screen and (min-width: 1280px){
    .lead__title{
        margin: 0 280px;
    }

    .lead__subtitle{
        margin-left: 320px;
        margin-right: 320px;
        margin-bottom: 64px;
    }
    
    .lead__image-container{
        margin: 0 148px;
        margin-top: 64px;
    }
    
    .lead__caption{
        margin-left: 148px;
    }
}

.intro{
    margin: 0 16px;
    margin-top: 64px;
}

.intro__title{
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
}

.intro__text{
    font-size: 16px;
    line-height: 26px;
}

.intro__list{
    list-style: none;
    margin-top: 34px;
    font-size: 12px;
    line-height: 18px;
}

.intro__list-span{
    font-weight: 700;
}

@media screen and (min-width: 768px){
    .intro{
        width: 720px;
        margin: 0 24px;
        margin-top: 88px;
    }

    .intro__title{
        font-size: 54px;
        line-height: 58px;
    }
}

@media screen and (min-width: 1024px){
    .intro{
        margin-left: 48px;
        margin-top: 92px;
        width: 690px;
    }
}

@media screen and (min-width: 1280px){
    .intro{
        margin-left: 148px;
    }
}

.photos{
    display: grid;
    gap: 12px;
    width: 288px;
    margin: 0 auto;
    margin-top: 64px;

}

.photos__item{
    height: 216px;
}

@media screen and (min-width: 768px){
    .photos{
        width: 720px;
        margin-top: 88px;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    
    .photos__item{
        height: 264px;
    }
}

@media screen and (min-width: 1024px){
    .photos{
        width: 928px;
        margin-top: 92px;
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }

    .photos__item{
        height: 225px;
    }
}

@media screen and (min-width: 1280px){
    .photos{
        width: 1184px;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    .photos__item{
        height: 213px;
    }
}

.places{
    margin-top: 64px;
}

.place{
    display: grid;
    margin-bottom: 50px;
    row-gap: 32px;
}

.place:last-child{
    margin-bottom: 0;
}

.place__title{
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    margin: 0 16px;
}

.place__website{
    margin: 0 16px;
}

.place__url-heading{
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #aaaaaa;
}

.place__link{
    position: relative;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    text-decoration: none;
    transition: all .4s;
}

.place__link::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
}

.place__link:hover{
    opacity: 0.8;
}

.place__image{
    width: 100%;
}

.place__paragraph{
    margin: 0 16px;
    font-size: 16px;
    line-height: 26px;
}

.place__paragraph:not(:last-child):first-child{
    margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
    .places{
        margin: 0 24px;
        margin-top: 88px;
    }

    .place{
        grid-template-columns: 340px 1fr;
        grid-template-rows: min-content 1fr;
        column-gap: 28px;
        row-gap: 48px;
        margin-bottom: 73px;
    }

    .place__title{
        font-size: 42px;
        line-height: 46px;
        margin: 0;
        align-self: flex-end;
    }

    .place__paragraph{
        margin: 0;
    }

    .place__website{
        margin: 0;
        align-self: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    .places{
        margin: 0 48px;
        margin-top: 92px;
    }

    .place{
        grid-template-columns: 440px 1fr;
        column-gap: 32px;
        margin-bottom: 80px;
    }

    .place__title{
        font-size: 72px;
        line-height: 76px;
    }

    .place__url-heading{
        line-height: 20px;
    }

    .place__paragraph{
        font-size: 18px;
        line-height: 29px;
    }

    .place__paragraph:not(:last-child):first-child{
        margin-bottom: 26px;
    }
}

@media screen and (min-width: 1280px) {
    .places{
        margin: 0 148px;
        margin-top: 148px;
    }

    .place{
        grid-template-columns: 460px 1fr;
        column-gap: 40px;
    }
}

.cover{
    position: relative;
    margin-top: 66px;
}

.cover__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 60vw;
    min-height: 300px;
    background-image: url(images/back.webp);
    background-size: cover;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

.cover__overlay{
    position: absolute;
    inset: 0;
    background-color: #2a2c2f;
    transition: opacity 0.8s;
    opacity: 0.3;
}

.cover:hover .cover__overlay{
    opacity: 0.8;
}

.cover__title{
    position: relative;
    z-index: 5;
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
    padding: 16px;
}

.cover__subtitle{
    margin: 0;
    position: relative;
    z-index: 5;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 0 5vw;
}

@media screen and (min-width: 768px){
    .cover{
        margin-top: 90px;
    }

    .cover__title{
        font-size: 72px;
        line-height: 76px;
        padding-bottom: 32px;
    }

    .cover__subtitle{
        font-size: 18px;
        line-height: 22px;
        padding: 0 204px;
    }
}

@media screen and (min-width: 1024px){
    .cover{
        margin-top: 92px;
    }

    .cover__subtitle{
        padding: 0 332px;
    }
}

@media screen and (min-width: 1280px){
    .cover{
        height: 740px;
        width: 1184px;
        margin: 0 auto;
        margin-top: 92px;
        overflow: hidden;
    }

    .cover__link{
        background-size: 100%;
        height: 100%;
    }

    .cover__subtitle{
        padding: 0 412px;
    }
}

.footer{
    margin-top: 64px;
    margin-left: 16px;
    line-height: 1;
}

.footer__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer__link{
    transition: all .4s;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

.footer__link:hover{
    opacity: 0.8;
}

.copyright{
    font-size: 14px;
    margin-top: 48px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .footer{
        margin: 0 24px;
        margin-top: 88px;
        padding-bottom: 24px;
        display: flex;
        justify-content: space-between;
    }

    .footer__list{
        flex-direction: row;
        gap: 16px;
    }

    .footer__link{
        font-size: 16px;
        line-height: 18px;
    }

    .copyright{
        line-height: 16px;
        margin: 0;
    }
}

@media screen and (min-width: 1024px){
    .footer{
        margin: 0 48px;
        margin-top: 92px;
    }

    .footer__list{
        gap: 18px;
    }
}
